<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.etgo.etgo">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera2"
        android:required="true"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TelaLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TelaCadastro"></activity>
        <activity android:name=".TelaPassageiro"></activity>
        <activity android:name=".TelaLeitor"></activity>
        <activity android:name=".TelaRecarga"></activity>
        <activity android:name=".TelaTransportadora"></activity>
        <activity android:name=".TelaEmpresa"></activity>
        <activity android:name=".TelaCadastroLinha"></activity>
        <activity android:name=".TelaCadastroMotorista"></activity>
        <activity android:name=".TelaCadastroOnibus"></activity>
        <activity android:name=".TelaInicioViagem"></activity>
    </application>

</manifest>